if messages.errors
  .mt-4.alert.alert-danger.fade.show
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    for error in messages.errors
      div= error.msg
if messages.info
  .mt-4.alert.alert-info.fade.show
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    for info in messages.info
      div= info.msg
if messages.success
  .mt-4.alert.alert-success.fade.show
    button.close(type='button', data-dismiss='alert')
      i.far.fa-times-circle
    for success in messages.success
      div= success.msg
